.interactive-module {
	&__wrapper {
		position: relative;
		// min-width: 850px;
		width: 100%;
		height: 650px;
		// background-color: grey;
	}

	&__cg-container {
		position: relative;
		margin: 0 auto;
		width: 850px;
		height:650px;
		// background-image: url(../img/interactive-module.svg);
	}

	&__manufacture {
		position: absolute;
		width: 310px;
		height:130px;
		left: 255px;
		top: 203px;
	}
	&__manufacture-1 {
		transform: translateZ(0);
		will-change: transform;
		position: absolute;
		width: 128px;
		height:122px;
		background-image: url(../img/interactive-module_manufacture-1.svg);
	}
	&__manufacture-2 {
		transform: translateZ(0);
		will-change: transform;
		position: absolute;
		width: 128px;
		height:122px;
		right: 0;
		background-image: url(../img/interactive-module_manufacture-2.svg);
	}
	&__manufacture-arrow {
		position: absolute;
		width: 10px;
		height:15px;
		left: 150px;
		top: 85px;
		background-image: url(../img/interactive-module_arrow.svg);
	}

	&__product {
		position: absolute;
		width: 310px;
		height: 96px;
		left: 260px;
		bottom: 215px;
	}
	&__product-1 {
		position: absolute;
		width: 128px;
		height: 96px;
		background-image: url(../img/interactive-module_product-1.svg);
	}
	&__product-2 {
		position: absolute;
		width: 134px;
		height:97px;
		right: 0;
		background-image: url(../img/interactive-module_product-2.svg);
	}
	&__product-arrow {
		position: absolute;
		width: 10px;
		height:15px;
		left: 150px;
		top: 45px;
		background-image: url(../img/interactive-module_arrow.svg);
	}

	&__spot {
		position: absolute;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: $color_7;
		pointer-events: none;
		opacity: 0;
	}
	&__line {
		position: absolute;
		background-color: $color_9;
		pointer-events: none;
		pointer-events: none;
		opacity: 0;
		// display: none;
	}
	&__triangle {
		position: absolute;
		width: 0;
		height: 0;
		left: 0;
		bottom: 5px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;		
		border-top: 10px solid $color_7;
		border-radius: 2px;
		pointer-events: none;
		opacity: 0;
	}	

	&__pdm-spot {		
		left: calc(50% - 225px);
		top: 65px;
	}
	&__pdm-line1 {
		width: 1px;
		height: 65px;
		left: calc(50% - 225px + 4px);
		top: 0px;
		transform-origin: 0% 100%;
	}
	&__pdm-line2 {
		width: calc(50% - 225px + 4px - 6px);
		height: 1px;
		left: 6px;
		top: 0px;
		transform-origin: 100% 0%;
	}
	&__pdm-line3 {
		width: 1px;
		height: calc(100% - 10px);
		left: 6px;
		top: 0px;
		transform-origin: 0% 0%;
	}

	&__tdm-spot {		
		left: calc(50% + 15px);
		top: 15px;
	}
	&__tdm-line1 {
		width: 1px;
		height: 15px;
		left: calc(50% + 15px + 4px);
		top: 0px;
		transform-origin: 0% 100%;
	}
	&__tdm-line2 {
		width: calc(50% + 15px + 4px - 6px);
		height: 1px;
		left: 6px;
		top: 0px;
		transform-origin: 100% 0%;
	}
	&__tdm-line3 {
		width: 1px;
		height: calc(100% - 10px);
		left: 6px;
		top: 0px;
		transform-origin: 0% 0%;
	}

	&__capp-spot {		
		left: calc(50% + 260px);
		top: 95px;
	}
	&__capp-line1 {
		width: 1px;
		height: 95px;
		left: calc(50% + 260px + 4px);
		top: 0px;
		transform-origin: 0% 100%;
	}
	&__capp-line2 {
		width: calc(50% + 260px + 4px - 6px);
		height: 1px;
		left: 6px;
		top: 0px;
		transform-origin: 100% 0%;
	}
	&__capp-line3 {
		width: 1px;
		height: calc(100% - 10px);
		left: 6px;
		top: 0px;
		transform-origin: 0% 0%;
	}

	&__mps_aps-spot {		
		left: calc(50% + 340px);
		bottom:  160px;
	}
	&__mps_aps-line1 {
		width: 1px;
		height: calc(160px - 20px);
		left: calc(50% + 340px + 4px);
		bottom: 20px;
		transform-origin: 0% 0%;
	}
	&__mps_aps-line2 {
		width: calc(50% + 340px + 4px - 6px);
		height: 1px;
		left: 6px;
		bottom: 20px;
		transform-origin: 100% 0%;
	}
	&__mps_aps-line3 {
		width: 1px;
		height: 10px;
		left: 6px;
		bottom: 10px;
		transform-origin: 0% 0%;
	}

	&__mrp-spot {		
		left: calc(50% + 135px);
		bottom:  35px;
	}
	&__mrp-line1 {
		width: 1px;
		height: calc(35px - 20px);
		left: calc(50% + 135px + 4px);
		bottom: 20px;
		transform-origin: 0% 0%;
	}
	&__mrp-line2 {
		width: calc(50% + 135px + 4px - 6px);
		height: 1px;
		left: 6px;
		bottom: 20px;
		transform-origin: 100% 0%;
	}
	&__mrp-line3 {
		width: 1px;
		height: 10px;
		left: 6px;
		bottom: 10px;
		transform-origin: 0% 0%;
	}

	&__mes-spot {		
		left: calc(50% - 100px);
		bottom:  30px;
	}
	&__mes-line1 {
		width: 1px;
		height: calc(30px - 20px);
		left: calc(50% - 100px + 4px);
		bottom: 20px;
		transform-origin: 0% 0%;
	}
	&__mes-line2 {
		width: calc(50% - 100px + 4px - 6px);
		height: 1px;
		left: 6px;
		bottom: 20px;
		transform-origin: 100% 0%;
	}
	&__mes-line3 {
		width: 1px;
		height: 10px;
		left: 6px;
		bottom: 10px;
		transform-origin: 0% 0%;
	}

	&__eam-spot {		
		left: calc(50% - 320px);
		top:  515px;
	}
	&__eam-line1 {
		width: 	0px;
		height: 0px;
		left: calc(50% - 320px + 4px);
		top: 515px;
		transform-origin: 0% 0%;
	}
	&__eam-line2 {
		width: calc(50% - 320px + 4px - 6px);
		height: 1px;
		left: 6px;
		top: calc(515px + 4px);
		transform-origin: 100% 0%;
	}
	&__eam-line3 {
		width: 1px;
		height: calc(100% - 515px - 10px - 4px);
		left: 6px;
		bottom: 10px;
		transform-origin: 0% 0%;
	}

	&__qm-spot {		
		left: calc(50% - 410px);
		top:  300px;
	}
	&__qm-line1 {
		width: 0px;
		height: 0px;
		left: calc(50% - 410px + 4px);
		top: 300px;
		transform-origin: 0% 0%;
	}
	&__qm-line2 {
		width: calc(50% - 410px + 4px - 6px);
		height: 1px;
		left: 6px;
		top: calc(300px + 4px);
		transform-origin: 100% 0%;
	}
	&__qm-line3 {
		width: 1px;
		height: calc(100% - 300px - 10px - 4px);
		left: 6px;
		bottom: 10px;
		transform-origin: 0% 0%;
	}

	&__plm_bi-spot {		
		left: calc(50% - 400px);
		top:  260px;
	}
	&__plm_bi-line1 {
		width: 0px;
		height: 0px;
		left: calc(50% - 400px + 4px);
		top: 260px;
		transform-origin: 0% 0%;
	}
	&__plm_bi-line2 {
		width: calc(50% - 400px + 4px - 6px);
		height: 1px;
		left: 6px;
		top: calc(260px + 4px);
		transform-origin: 100% 0%;
	}
	&__plm_bi-line3 {
		width: 1px;
		height: calc(100% - 260px - 10px - 4px);
		left: 6px;
		bottom: 10px;
		transform-origin: 0% 0%;
	}

	&__pdm-area {
		will-change: transform;
		position: absolute;
		left: 160px;
		top: 0;
		width: 267px;
		height: 197px;
		clip-path: polygon(0px 71px, 130px 0px, 267px 0px, 267px 180px, 158px 197px);
		background-image: url(../img/interactive-module__pdm.svg);
	}
	&__tdm-area {
		will-change: transform;
		position: absolute;
		left: 425px;
		top: 0;
		width: 265px;
		height: 195px;
		clip-path: polygon(0px 0px, 160px 0px, 265px 71px, 108px 195px, 0px 177px);
		background-image: url(../img/interactive-module__tdm.svg);
	}
	&__capp-area {
		will-change: transform;
		position: absolute;
		left: 532px;
		top: 70px;
		width: 314px;
		height: 216px;
		clip-path: polygon(0px 124px, 156px 0px, 290px 80px, 314px 216px, 108px 206px);
		background-image: url(../img/interactive-module__capp.svg);
	}
	&__mps_aps-area {
		will-change: transform;
		position: absolute;
		left: 620px;
		top: 275px;
		width: 229.13px;
		height: 242.04px;
		clip-path: polygon(19px 0px, 226px 10px, 240px 160px, 146px 242px, 0px 125px);
		background-image: url(../img/interactive-module__mps_aps.svg);
	}
	&__mrp-area {
		will-change: transform;
		position: absolute;
		left: 496px;
		top: 399px;
		width: 270px;
		height: 235px;
		clip-path: polygon(0px 65px, 124px 0px, 2705px 117px, 190px 210px, 53px 235px);
		background-image: url(../img/interactive-module__mrp.svg);
	}
	&__mes-area {
		will-change: transform;
		position: absolute;
		left: 300px;
		top: 464px;
		width: 250px;
		height: 185px;
		clip-path: polygon(52px 0px, 197px 0px, 250px 170px, 135px 200px, 70px 190px, 0px 170px);
		background-image: url(../img/interactive-module__mes.svg);
	}
	&__eam-area {
		will-change: transform;
		position: absolute;
		left: 84px;
		top: 399px;
		width: 271px;
		height: 236px;
		clip-path: polygon(146px 0px, 270px 65px, 218px 236px, 90px 205px, 0px 117px);
		background-image: url(../img/interactive-module__eam.svg);
	}
	&__qm-area {
		will-change: transform;
		position: absolute;
		left: 2px;
		top: 276px;
		width: 229px;
		height: 242px;
		clip-path: polygon(0px 9px, 210px 0px, 229px 124px, 83px 241px, 0px 140px);
		background-image: url(../img/interactive-module__qm.svg);
	}
	&__plm_bi-area {
		will-change: transform;
		position: absolute;
		left: 4px;
		top: 71px;
		width: 313px;
		height: 215px;
		clip-path: polygon(30px 80px, 157px 0px, 313px 124px, 206px 206px, 0px 215px);
		background-image: url(../img/interactive-module__plm_bi.svg);
	}

}


@media (max-height: 1000px) {
	// ? когда монитор короче 1000px

}

@media (max-width: 1025px) {
	// ? когда монитор меньше 1025px
	#interactive-module {
		display: none;
	}
}

@media (max-width: 769px) {
	// ? когда монитор меньше 769px

}

@media (max-width: 481px) {
	// ? когда монитор меньше 481px

}
