.swiper {
	position: relative;

	.swiper-button-prev {
		left: -6px;
	}
	.swiper-button-next {
		right: -8px;
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: calc(50% - 3rem / 2);
		&:after {
			transition: all 0.3s ease;
			color: $color_6;
			font-size: 16px;
			// font-weight: 700;
		}
		&:hover {
			&:after {
				color: $color_2;
			}
		}
	}
	.swiper-pagination-bullet {
		background-color: $color_7;
		transition: all 0.3s ease;
		&:hover {
			background-color: $color_2;
			opacity: 1;
		}
	}
	.swiper-pagination-fraction {
		font-size: 12px; //? 0.875rem
		font-weight: 700;
		color: $color_7;
	}
}

.swiper-solution {
	.swiper-slide {
		display: flex;
		align-items: center;
	}
	.swiper-pagination {
		position: relative;
		display: none;
		// todo настроить стиль буллетов
	}
	&__picture {
		position: relative;
		width: 618px;
		height: 452px;
		margin-right: 1rem;
		img {
			width: contain;
			height: contain;
		}
	}
	&__content {
		padding-left: 3rem;
	}
}

.swiper-vendor {
	.swiper-slide {
		position: relative;
		text-align: center;
		margin-bottom: 3rem;
		&::before {
			content: "";
			position: absolute;
			width: 168px;
			height: 168px;
			background-image: url(../img/vendor-mask.svg);
			pointer-events: none;
		}
	}
}

.swiper-calendar {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.swiper-slide {
		display: flex;
		align-items: center;
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: calc(50% + 7px);
	}
	.swiper-button-prev {
		left: 0;
	}
	.swiper-button-next {
		right: 0;
	}
	&__picture {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			background-color: rgba($color: $color_1, $alpha: 0.75);
			width: 100%;
			height: 100%;
		}
		img {
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: 1300px) {
	// ? когда монитор меньше 1300px
	.swiper-solution {
		&__picture {
			width: calc(618px / 1.25);
			height: calc(452px / 1.25);
			img {
				width: calc(618px / 1.25);
				height: calc(452px / 1.25);
			}
		}
	}
}

@media (max-width: 1025px) {
	// ? когда монитор меньше 1025px
	.swiper-solution {
		&__picture {
			width: calc(618px / 1.5);
			height: calc(452px / 1.5);
			img {
				width: calc(618px / 1.5);
				height: calc(452px / 1.5);
			}
		}
	}
}

@media (max-width: 769px) {
	// ? когда монитор меньше 769px
	.swiper-solution {
		margin-bottom: 4rem;

		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
		.swiper-pagination {
			display: block;
		}
		.swiper-slide {
			flex-direction: column-reverse;
			padding-bottom: 3rem;
		}
		&__content {
			padding-left: 0;
			text-align: center;
		}
		&__picture {
			width: 100%;
			height: auto;
			padding-right: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.swiper-calendar {
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
}

@media (max-width: 481px) {
}
